.letter-grid {
	table-layout: fixed;
	border-collapse: separate;
	width: 100%;
}

.letter-container {
	transition: 0.8s;
	transform-style: preserve-3d;
	perspective: 1000px;
	font-size: 25vh;
	border: 20% solid #CCCCCC;
	border-radius: 10%;
	margin-left: 20%;
	background: #CCCCCC;
	width: 50%;
}

.letter-wrapper {
	position: relative;
}

.letter {
	backface-visibility: hidden;
	transform: rotateX(180deg);
}

.letter-button {
	font-size: 300%;
	width: 100%;
}

.letter-button:hover{
	background: #AAAAAA;
	color: black;
}

.letter-button-grid {
	table-layout: fixed;
	border-collapse: separate;
	width: 100%;
}

