<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Математическая карусель</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/letters.css" rel="stylesheet">
  </head>

  <body>
	  {% if error %}
		{{ error|safe }}
	  {% endif %}
	<div class="text-center">
      <table class="letter-button-grid">
		<tr>
			<td><a href="/task/а"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">A</button></td>
			<td><a href="/task/б"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">Б</button></td>
			<td><a href="/task/в"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">В</button></td>
			<td><a href="/task/г"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">Г</button></td>
			<td><a href="/task/д"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">Д</button></td>
			<td><a href="/task/е"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">Е</button></td>
			<td><a href="/task/ж"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">Ж</button></td>
			<td><a href="/task/з"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">З</button></td>
		</tr>
		<tr>
			<td><a href="/task/и"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">И</button></td>
			<td><a href="/task/й"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">Й</button></td>
			<td><a href="/task/к"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">К</button></td>
			<td><a href="/task/л"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">Л</button></td>
			<td><a href="/task/м"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">М</button></td>
			<td><a href="/task/н"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">Н</button></td>
			<td><a href="/task/о"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">О</button></td>
			<td><a href="/task/п"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">П</button></td>
		</tr>
		<tr>
			<td><a href="/task/р"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">Р</button></td>
			<td><a href="/task/с"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">С</button></td>
			<td><a href="/task/т"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">Т</button></td>
			<td><a href="/task/у"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">У</button></td>
			<td><a href="/task/ф"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">Ф</button></td>
			<td><a href="/task/х"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">Х</button></td>
			<td><a href="/task/ц"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">Ц</button></td>
			<td><a href="/task/ч"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">Ч</button></td>
		</tr>
		<tr>
			<td><a href="/task/ш"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">Ш</button></td>
			<td><a href="/task/щ"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">Щ</button></td>
			<td><a href="/task/ъ"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">Ъ</button></td>
			<td><a href="/task/ы"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">Ы</button></td>
			<td><a href="/task/ь"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">Ь</button></td>
			<td><a href="/task/э"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">Э</button></td>
			<td><a href="/task/ю"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">Ю</button></td>
			<td><a href="/task/я"><button class="btn btn-secondary letter-button" style="background-color:{{ color }};">Я</button></td>
		</tr>
	  </table>
	 </div>
  </body>
  
</html>