<html>
	<head>
	</head>
	<body>
		<form method="POST">
		  <label for="inputName">Название:</label>
		  <input name="name" type="answer" id="inputName" placeholder="Название" required>
		  <br/>
		  <label for="inputWord">Слово:</label>
		  <input name="word" type="answer" id="inputWord" placeholder="Слово" required>
		  <br/>
		  <label for="inputTasks">Задания:</label>
		  <input name="tasks" type="answer" id="inputTasks" placeholder="Задания" required>
		  <br/>
		  <button type="submit">Создать</button>
		</form>
	</body>
</html>