<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Математическая карусель</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/letters.css" rel="stylesheet">
	<link href="/css/roulette.css" rel="stylesheet">
	<link href="/css/score.css" rel="stylesheet">
	<link href="/css/mathcarousel.css" rel="stylesheet">
	<script src="/js/eduh-api.js"></script>
	<script src="/js/eduh-mathcarousel.js"></script>
  </head>

  <body>
	<div class="text-center">
      <table class="letter-grid">
		<tr id="word-handler">
		</tr>
		<tr>
			<td class="score-td" id="score-handler" colspan="7">
				<table class="scoreboard">
					<tr>
						<td class="selected-score" id="score1">0</td>
						<td id="score2">0</td>
						<td id="score3">0</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="7" id="roulette-row">
				<table class="roulette">
					<tr id="roulette-handler">
						<td class="roulette-black roulette-cell">8</td>
						<td class="roulette-red roulette-cell">9</td>
						<td class="roulette-black roulette-cell">10</td>
						<td class="roulette-red roulette-cell">11</td>
						<td class="roulette-black roulette-cell">12</td>
						<td class="roulette-red roulette-cell">13</td>
						<td class="roulette-black roulette-cell">14</td>
						<td class="roulette-green roulette-cell" id="roulette-cell-selected">0</td>
						<td class="roulette-black roulette-cell">1</td>
						<td class="roulette-red roulette-cell">2</td>
						<td class="roulette-black roulette-cell">3</td>
						<td class="roulette-red roulette-cell">4</td>
						<td class="roulette-black roulette-cell">5</td>
						<td class="roulette-red roulette-cell">6</td>
						<td class="roulette-black roulette-cell">7</td>
					</tr>
				</table>
			</td>
			</td>
		</tr>
	  </table>
		<!-- Task popup -->
		<div class="task-modal modal" tabindex="-1" role="dialog" style="display: block;" id="modal">
		  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
			<div class="modal-content">
			  <div class="modal-header" id="color-marker">
				<h5 class="modal-title">Задача</h5>
			  </div>
			  <div id="task-text" class="modal-body">
			  </div>
			  <div id="task-answer" class="modal-body">
			  </div>
			</div>
		  </div>
		</div>
	</div>
  </body>
  
</html>