<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Математическая карусель</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/profile.css" rel="stylesheet">
  </head>

  <body>
	<div class="text-center">
		<h1>Личный кабинет</h1>
		<form method="POST" class="centered-form" action="/join-game">
		  <h1 class="h3 mb-3 font-weight-normal">Присоедениться к игре</h1>
		  <label for="inputPin" class="sr-only">Код игры</label>
		  <input name="pin" type="login" id="inputPin" class="form-control" placeholder="Код игры" required><br/>
		  <button class="btn btn-lg btn-primary btn-block" type="submit">Присоеденится</button>
		  <br/>
		</form>
	</div>
  </body>
</html>