<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Математическая карусель</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/sign-in.css" rel="stylesheet">
  </head>

  <body>
	<div class="text-center">
		<form method="POST" class="form-signin" action="/signup">
		  <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
		  <label for="inputLogin" class="sr-only">Логин</label>
		  <input name="login" type="login" id="inputLogin" class="form-control" placeholder="Логин" required>
		  <label for="inputPassword" class="sr-only">Пароль</label>
		  <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
		  <label for="inputRole">Роль:</label>
			<select class="form-control" id="inputRole" name="inputRole">
			  <option>Учитель</option>
			  <option>Ученик</option>
			</select>
		  <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
		  <br/>
		  {% if error %}
			{{ error|safe }}
		  {% endif %}
		</form>
	</div>
  </body>
</html>