<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Математическая карусель</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/mathcarousel.css" rel="stylesheet">
  </head>

  <body>
	<div class="d-flex p-2 justify-content-center">
		<p class="h3 mb-3 font-weight-normal task-text">{{ task|safe }}</p>
	</div>
	<div class="d-flex p-2 justify-content-center">
		<form method="POST" class="form-signin">
		  <label for="inputAnswer" class="sr-only">Ответ:</label>
		  <input name="answer" type="answer" id="inputAnswer" class="form-control" placeholder="Ответ" required>
		  <br/>
		  <button class="btn btn-lg btn-primary btn-block" type="submit">Ответить</button>
		</form>
	</div>
  </body>
</html>